@import '../../assets/styles/variables.scss';

.filter{
  display: flex;
  flex-direction: column;
  gap: 30px;
  button{
    border-radius: 8px;
    padding: 12px 48px;
    width: 146px;
    height: 45px;
    border: none;
    background: $main-components-color;
    color: $light-color;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #fff;
  }
}

.search{
  input{
    width: 100%;
    border: 0.5px solid #b0b0b0;
    border-radius: 5px;
    padding: 10px;
    height: 43px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    outline: none;
  }
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownTrigger {
  cursor: pointer;
}

.dropdownTrigger.open {
  border-bottom: none;
}

.dropdownContent {
  border-top: 1px solid #155da4;
  width: 267px;
  height: 234px;
  position: absolute;
  top: 30px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 10px;
  z-index: 1;
  padding: 20px;
  label{
    font-weight: 400;
    font-size: 16px;
  }
  input{
    margin-left: auto;
  }
}

.params{
  display: flex;
  align-items: center;
  .selection{
    margin-left: auto;
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.selection{
  label{
    font-size: 20px;
  }
}
