@import '../../assets/styles/global.scss';
@import '../../assets/styles/variables.scss';

.header{
  @include flex-center;
  height: 90px;
  background: var(#{--body-background-default});
  box-shadow: 0 4px 8px 0 var(#{--header-box-shadow-default});
  padding: 0 180px;
}

.content{
  @include flex-center;
  gap: 50px;
  margin-left: auto;
  color: var(#{--text-color-default});
}

@media(max-width:768px){
  .header{
    @include flex-center;
    height: 60px;
    padding: 0 20px;
  }

  .content{
    p{
      visibility: hidden;
    }
  }
}
